<div class="page page-table">
  <section class="panel panel-default table-dynamic">
    <div class="panel-heading"><strong><i class="fa fa-list panel-ico"></i>{{showDetails.name}}</strong></div>

    <p><strong>Date</strong></p>
    <p>{{showDetails.date}}</p>

    <p><strong>Time</strong></p>
    <p>{{showDetails.time}}</p>

    <p><strong>Location</strong></p>
    <p>{{showDetails.location}}</p>

    <p><strong>Playlist Size</strong></p>
    <p>{{showDetails.playlist_size}}</p>
  </section>
</div>
